body {
  background-color: #202025;
  font-family: Arial;
  font-weight: bold;
}

.App {
  display: grid;
  grid-template-columns: repeat(2, auto); /* Две колонки с автоматической шириной */
  justify-content: center; /* Выравнивание по горизонтали */
  gap: 60px; /* Расстояние между блоками */
  height: 100vh; /* Высота контейнера равна высоте viewport */
}

.App > div {
  display: inline-block;
  max-height: 200px;
  margin-top: 300px;
  text-align: center; /* Выравнивание текста по центру */
}

/*styles for block Settings Block */
.set-block {
  padding: 15px;
  width: 300px;
  border-radius: 7px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-gap: 2vh;
  font-size: 16px;
  color: #60D2F6;
  border: 2px solid #60D2F6;
}


/*styles for block Scoreboard Block */
.scoreboard-block {
  padding: 15px;
  width: 230px;
  border: 2px solid #60D2F6;
  border-radius: 7px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-gap: 2vh;
  font-size: 30px;
}

.section-inputs {
  border: 1px solid #60D2F6;
  border-radius: 7px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.input {
  width: 120px;
  margin-left: 50px;
  margin-bottom: 20px;
  border: 1px solid #60D2F6;
  border-radius: 3px;
}

.error-input {
  width: 120px;
  margin-left: 50px;
  margin-bottom: 20px;
  border: 1px solid red;
  border-radius: 3px;
  background: #EF9CAD;
  text-align: center;
}



/*styles for button set*/
.set {
  border: 1px solid #60D2F6;
  background-color: #60D2F6;
  border-radius: 7px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
  margin: 0 auto;
  transition: background-color 0.3s, transform 0.3s; /*добавляет плавный переход для изменения цвета фона и масштаба кнопки.*/
}

.scoreboard {
  font-size: 45px;
  border: 1px solid #60D2F6;
  border-radius: 7px;
  color: #60D2F6;
  display: grid;
  place-items: center; /* Выравнивание по горизонтали и вертикали */
  height: 120px;
}

.error-scoreboard {
  color: red;
  font-size: 45px;
  border: 1px solid #60D2F6;
  border-radius: 7px;
  display: grid;
  place-items: center; /* Выравнивание по горизонтали и вертикали */
  height: 120px;
}

/* styles for message : "Enter values and press set" */
.info-message  {
  color: #60D2F6;
  font-size: 14px;
  border: 1px solid #60D2F6;
  border-radius: 7px;
  display: grid;
  place-items: center; /* Выравнивание по горизонтали и вертикали */
  height: 120px;
}

/* styles for message : 'Incorrect value!' */
.info-message-error  {
  color: red;
  font-size: 14px;
  border: 1px solid #60D2F6;
  border-radius: 7px;
  display: grid;
  place-items: center; /* Выравнивание по горизонтали и вертикали */
  height: 120px;
}

/*styles for div buttons */
.buttons {
  border: 2px solid #60D2F6;
  padding: 10px;
  border-radius:7px;
  margin-top: 20px;
}

/*styles for button inc , reset*/
.inc, .reset {
  border: 1px solid #60D2F6;
  background-color: #60D2F6;
  border-radius: 7px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
  transition: background-color 0.3s, transform 0.3s; /*добавляет плавный переход для изменения цвета фона и масштаба кнопки.*/
}


/* :active псевдокласс изменяет цвет фона кнопки на немного темнее и уменьшает её размер, что создаёт эффект нажатия.*/
.inc:active, .reset:active, .set:active {
  background-color: #407284; /* немного темнее цвет для эффекта нажатия */
  transform: scale(0.95); /* немного уменьшаем кнопку для эффекта нажатия */
  border: 1px solid #407284;
}

.disable-inc, .disable-reset{
  border: 1px solid #3E7183;
  background-color: #3E7183;
  border-radius: 7px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
  color: #202025;
}

.disable-set {
  border: 1px solid #3E7183;
  background-color: #3E7183;
  border-radius: 7px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
  color: #202025;
  margin: 0 auto;
}

/*test commit*/
